* {
  padding: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}

.todolists-container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 30px;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todolist li {
  list-style-type: none;
}

.error input {
  border-color: red;
}

.error-message {
  color: red;
}

.active-filter {
  background: lightblue;
}

.is-done {
  opacity: 0.5;
}
